/* General form styling */
form {
    background: #f9f9f9;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 400px;
    max-width: 400px;
    margin: 0 auto;
  }
  
  /* Label styling */
  form label {
    font-family: "Geist Mono", monospace;
    text-align: center;
    font-weight: bold;
    font-size: 20px;
    color: #2c3e50;
    display: block;
    margin-bottom: 26px;
  }
  
  /* Textarea styling */
  form textarea {
    font-family: "Geist Mono", monospace;
    width: 95%;
    height: 100px;
    padding: 10px;
    font-size: 16px;
    border: 2px solid #bdc3c7;
    border-radius: 4px;
    resize: none;
    outline: none;
    transition: border-color 0.5s;
  }
  
  form textarea:focus {
    border-color: #3498db;
  }
  
  /* Button container styling */
  .TodoForm-ButtonContainer {
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
  }
  
  /* Button styling */
  .TodoForm-button {
    padding: 10px 20px;
    font-size: 18px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s, color 0.3s;
  }
  
  .TodoForm--button--cancel {
    background-color: gray;
    color: #fff;
  }
  
  .TodoForm--button--cancel:hover {
    background-color: #c0392b;
  }
  
  .TodoForm--button--add {
    background-color: #4caf50;
    color: #fff;
  }
  
  .TodoForm--button--add:hover {
    background-color: #54c458;
  }