.CreateTodoButton {
    border: 4px solid #4F6F52;
    font-family: "Geist Mono", monospace;
    background: transparent;
    padding: 1rem 2rem;
    border-radius: 100px;
    margin-left: 280px;
    width: calc(40% );
    color: black;
    font-weight: bold;
    font-size: 1.25rem;
    transition: background 0.2s;
    cursor: pointer;
  }
  

  .CreateTodoButton:hover {
    background: #E8DFCA;
    transform: scale(2);
  }
